<div ng-controller="ModalPesquisaPedidoInternacaoController" ng-init="carregarPedidos()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Relatórios</span>
        </li>
        <li class="breadcrumb-item active">
            <span> Pedidos em Aberto</span>
        </li>
    </ol>

    <div class="kan-row">
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <h5 class="kan-title">Busca
                    <i class="fa fa-info fa-1-x kan-icon-success" data-toggle="tooltip" data-placement="bottom" title="Campo para filtrar dados na lista exibida."></i>
                </h5>
                <input id="search" class="form-control form-control-sm" type="text" ng-model="search" placeholder="Digite para pesquisar">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Ala</th>
                            <th class="text-center">Diagnóstico</th>
                            <th class="text-center">Prontuário</th>    
                            <th class="text-center">Paciente</th>
                            <th class="text-center">Idade</th>
                            <th class="text-center">Data Admissão</th>
                            <th class="text-center">Tempo Esp.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pedido in listaPedidos  | filter : search | orderBy: 'dataAdmissao'">
                            <td title="{{pedido.ala.nomeAla}}">{{pedido.ala.nomeAla}}</td>
                            <td title="{{pedido.diagnostico.descricaoDiagnostico}}">{{pedido.diagnostico.descricaoDiagnostico}} </td>
                            <td class="text-center" title="{{pedido.paciente.numProntuario}}">{{pedido.paciente.numProntuario | limitTo: 10}}</td>
                            <td class="text-center" title="{{pedido.paciente.nomePaciente}}">{{pedido.paciente.nomePaciente}}</td>
                            <td class="text-center" title="{{pedido.paciente.idade}}">{{pedido.paciente.idade}}</td>
                            <td class="text-center" title="{{pedido.dataAdmissao | date: 'dd/MM/yy HH:mm'}}">{{pedido.dataAdmissao | date: "dd/MM/yy H:m"}}</td>
                            <td class="text-center" title="{{pedido.horasAguardando}}">{{pedido.horasAguardando}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>